*.o
*.obj
*.exe
.vscode/settings.json
*.csv
*.zip
*.json

# macOS binaries
stream_cpu_macos_x64
stream_cpu_macos_arm64
stream_gpu_macos_x64
stream_gpu_macos_arm64

# Linux binaries
stream_cpu_linux_x64
stream_cpu_linux_arm64
stream_gpu_linux_x64
stream_gpu_linux_arm64

# .NET build artifacts
bin/
obj/
publish/
*.user

# Embedded backend staging directory (created only during CI builds)
StreamBench/backends/

# Visual Studio
.vs/
*.log
